src/main/resources/ofx-tax-2018-addl/OFX_Tax1097.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
    Open Financial Exchange Specification (c)2017 by: Intuit Inc., 
    Innovision Corporation, and Thomson Reuters ("Publishers"). 
    All rights reserved.

    Publishers hereby grant to any party a royalty-free, worldwide, and 
    perpetual license to review the Open Financial Exchange Specification 
    in order to provide input, suggestions and other feedback ("Feedback").
    By providing Feedback, you (and your represented organization) grant 
    to Publishers a perpetual, irrevocable, non-exclusive, royalty-free, 
    worldwide license, with the right to directly and indirectly sublicense, 
    to make, use, sell, copy, publish, and distribute the Feedback in any way.

    THIS OPEN FINANCIAL EXCHANGE SPECIFICATION IS MADE AVAILABLE "AS IS" WITHOUT
    WARRANTY OF ANY KIND. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,
    PUBLISHERS FURTHER DISCLAIM ALL WARRANTIES, INCLUDING WITHOUT LIMITATION
    ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
    PURPOSE AND NONINFRINGEMENT, ALL OF WHICH ARE HEREBY DISCLAIMED. THE
    ENTIRE RISK ARISING OUT OF THE USE OF THIS SPECIFICATION REMAINS WITH
    RECIPIENT. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT
    SHALL THE PUBLISHERS OF THIS SPECIFICATION BE LIABLE FOR ANY CONSEQUENTIAL,
    INCIDENTAL, DIRECT, INDIRECT, SPECIAL, PUNITIVE, OR OTHER DAMAGES WHATSOEVER
    (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS,
    BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR OTHER PECUNIARY
    LOSS) ARISING OUT OF ANY USE TO WHICH THIS SPECIFICATION IS PUT, EVEN IF THE
    PUBLISHERS HEREOF HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

    Revision History:

    Version Date        Editor Email Address        Short Description

    1       2017-08-31  brucevwilcox@itips.info     Introduction of new form 1097-BTC

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ofx="http://ofx.net/types/2003/04" targetNamespace="http://ofx.net/types/2003/04" elementFormDefault="unqualified">

    <xsd:include schemaLocation="OFX_Common.xsd"/>

    <!-- Issuer types -->

    <xsd:complexType name="Abstract1097IssuerAddressType" abstract="true">
        <xsd:sequence>
            <xsd:element name="ADDR1" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR2" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR3" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="CITY" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="STATE" type="ofx:StateType" minOccurs="0"/>
            <xsd:element name="POSTALCODE" type="ofx:ZipType" minOccurs="0"/>
            <xsd:element name="COUNTRYSTRING" type="ofx:CountryStringType" minOccurs="0"/>
            <xsd:element name="PHONE" type="ofx:PhoneType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Issuer1097AddressType">
        <xsd:complexContent>
            <xsd:extension base="ofx:Abstract1097IssuerAddressType">
                <xsd:sequence>
                    <xsd:element name="ISSUERNAME1" type="ofx:GenericNameType"/>
                    <xsd:element name="ISSUERNAME2" type="ofx:GenericNameType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- Recipients -->

    <xsd:complexType name="Abstract1097RecipientAddressType" abstract="true">
        <xsd:sequence>
            <xsd:element name="ADDR1" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR2" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR3" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="CITY" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="STATE" type="ofx:StateType" minOccurs="0"/>
            <xsd:element name="POSTALCODE" type="ofx:ZipType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Recipient1097AddressType">
        <xsd:complexContent>
            <xsd:extension base="ofx:Abstract1097RecipientAddressType">
                <xsd:sequence>
                    <xsd:element name="RECIPNAME1" type="ofx:GenericNameType"/>
                    <xsd:element name="RECIPNAME2" type="ofx:GenericNameType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--  Other miscellaneous common types -->

    <xsd:complexType name="AbstractTaxForm1097Type" abstract="true">
        <xsd:sequence>
            <xsd:element name="SRVRTID" type="ofx:ServerIdType"/>
            <xsd:element name="TAXYEAR" type="ofx:YearType"/>
            <xsd:element name="VOID" type="ofx:BooleanType" minOccurs="0"/>
            <xsd:element name="CORRECTED" type="ofx:BooleanType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AddlStateTaxWheldAggregate1097Type">
        <xsd:sequence>
            <xsd:element name="STATECODE" type="ofx:StateCodeType"/>
            <xsd:element name="STATEIDNUM" type="ofx:IdType" minOccurs="0"/>
            <xsd:element name="STATETAXWHELD" type="ofx:AmountType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Tax1097BTC_V100">
        <xsd:annotation>
            <xsd:documentation>Form 1097-BTC - Bond Tax Credit</xsd:documentation>
        </xsd:annotation>

        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractTaxForm1097Type">

        <xsd:sequence>

            <xsd:element name="ISSUERADDR" type="ofx:Issuer1097AddressType" minOccurs="0"/>
            <xsd:element name="RECIPADDR" type="ofx:Recipient1097AddressType" minOccurs="0"/>


            <xsd:element name="ISSUERID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>FORM 1097-BTC ISSUER'S federal identification number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RECIPID" type="ofx:IdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>RECIPIENT'S federal identification number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="BYISSUER" type="ofx:BooleanType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Form 1097-BTC issuer is: Issuer of bond or its agent filing 2017 Form 1097-BTC for credit being reported</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="BYNOMINEE" type="ofx:BooleanType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Form 1097-BTC issuer is: An entity or a person that received or should have received a 2017 Form 1097-BTC and is distributing part or all of that credit to others</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="TOTAL" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 1. Total</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="BONDCODE" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 2a. Code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="UNIQUEID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 2b. Unique Identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="BONDTYPE" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 3. Bond type</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="JAN" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5a. January</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="FEB" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5b. February</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="MAR" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5c. March</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="APR" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5d. April</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="MAY" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5e. May</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="JUN" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5f. June</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="JUL" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5g. July</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="AUG" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5h. August</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="SEP" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5i. September</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="OCT" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5j. October</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="NOV" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5k. November</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="DEC" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5l. December</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="COMMENTS" type="ofx:MessageType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 6. Comments</xsd:documentation>
                </xsd:annotation>
            </xsd:element>


        </xsd:sequence>

           </xsd:extension>        
        </xsd:complexContent>

    </xsd:complexType>


</xsd:schema>
