src/main/resources/ofx-tax-2018-addl/OFX_TaxW2G.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
    Open Financial Exchange Specification (c)2017 by: Intuit Inc., 
    Innovision Corporation, and Thomson Reuters ("Publishers"). 
    All rights reserved.

    Publishers hereby grant to any party a royalty-free, worldwide, and 
    perpetual license to review the Open Financial Exchange Specification 
    in order to provide input, suggestions and other feedback ("Feedback").
    By providing Feedback, you (and your represented organization) grant 
    to Publishers a perpetual, irrevocable, non-exclusive, royalty-free, 
    worldwide license, with the right to directly and indirectly sublicense, 
    to make, use, sell, copy, publish, and distribute the Feedback in any way.

    THIS OPEN FINANCIAL EXCHANGE SPECIFICATION IS MADE AVAILABLE "AS IS" WITHOUT
    WARRANTY OF ANY KIND. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,
    PUBLISHERS FURTHER DISCLAIM ALL WARRANTIES, INCLUDING WITHOUT LIMITATION
    ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
    PURPOSE AND NONINFRINGEMENT, ALL OF WHICH ARE HEREBY DISCLAIMED. THE
    ENTIRE RISK ARISING OUT OF THE USE OF THIS SPECIFICATION REMAINS WITH
    RECIPIENT. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT
    SHALL THE PUBLISHERS OF THIS SPECIFICATION BE LIABLE FOR ANY CONSEQUENTIAL,
    INCIDENTAL, DIRECT, INDIRECT, SPECIAL, PUNITIVE, OR OTHER DAMAGES WHATSOEVER
    (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS,
    BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR OTHER PECUNIARY
    LOSS) ARISING OUT OF ANY USE TO WHICH THIS SPECIFICATION IS PUT, EVEN IF THE
    PUBLISHERS HEREOF HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

    Revision History:

    Version Date        Editor Email Address        Short Description

    1       2017-08-31  brucevwilcox@itips.info     Introduction of new form W-2G

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ofx="http://ofx.net/types/2003/04" targetNamespace="http://ofx.net/types/2003/04" elementFormDefault="unqualified">

    <xsd:include schemaLocation="OFX_Common.xsd"/>

    <!-- Issuer types -->

    <xsd:complexType name="AbstractW2GIssuerAddressType" abstract="true">
        <xsd:sequence>
            <xsd:element name="ADDR1" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR2" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR3" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="CITY" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="STATE" type="ofx:StateType" minOccurs="0"/>
            <xsd:element name="POSTALCODE" type="ofx:ZipType" minOccurs="0"/>
            <xsd:element name="COUNTRYSTRING" type="ofx:CountryStringType" minOccurs="0"/>
            <xsd:element name="PHONE" type="ofx:PhoneType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PayerW2GAddressType">
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractW2GIssuerAddressType">
                <xsd:sequence>
                    <xsd:element name="PAYERNAME1" type="ofx:GenericNameType"/>
                    <xsd:element name="PAYERNAME2" type="ofx:GenericNameType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- Recipients -->

    <xsd:complexType name="AbstractW2GRecipientAddressType" abstract="true">
        <xsd:sequence>
            <xsd:element name="ADDR1" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR2" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR3" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="CITY" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="STATE" type="ofx:StateType" minOccurs="0"/>
            <xsd:element name="POSTALCODE" type="ofx:ZipType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WinnerAddressType">
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractW2GRecipientAddressType">
                <xsd:sequence>
                    <xsd:element name="WINNERNAME1" type="ofx:GenericNameType"/>
                    <xsd:element name="WINNERNAME2" type="ofx:GenericNameType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <!--  Other miscellaneous common types -->

    <xsd:complexType name="AbstractTaxFormW2GType" abstract="true">
        <xsd:sequence>
            <xsd:element name="SRVRTID" type="ofx:ServerIdType"/>
            <xsd:element name="TAXYEAR" type="ofx:YearType"/>
            <xsd:element name="VOID" type="ofx:BooleanType" minOccurs="0"/>
            <xsd:element name="CORRECTED" type="ofx:BooleanType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TaxW2G_V100">
        <xsd:annotation>
            <xsd:documentation>Form W-2G - Certain Gambling Winnings</xsd:documentation>
        </xsd:annotation>


        <xsd:sequence>

            <xsd:element name="PAYERADDR" type="ofx:PayerW2GAddressType" minOccurs="0"/>
            <xsd:element name="WINNERADDR" type="ofx:WinnerAddressType" minOccurs="0"/>


            <xsd:element name="CORRECTED" type="ofx:BooleanType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>CORRECTED (if checked)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="PAYERID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>PAYER’S federal identification number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="WINNINGS" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 1. Reportable winnings</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="DATEWON" type="ofx:DateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 2. Date won</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="TYPEWAGER" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 3. Type of wager</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="FEDTAXWH" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 4. Federal income tax withheld</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="TRANSACTION" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5. Transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RACE" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 6. Race</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="INDENTICAL" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 7. Winnings from identical wagers</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="CASHIER" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 8. Cashier</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="WINNERID" type="ofx:IdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 9. Winner’s taxpayer identification no.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="WINDOW" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 10. Window</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="FIRSTID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 11. First I.D.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="SECONDID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 12. Second I.D.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="STWINNINGS" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 14. State winnings</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="STATETAXWH" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 15. State income tax withheld</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="LOCALWINNINGS" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 16. Local winnings</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="LOCALTAXWH" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 17. Local income tax withheld</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="LOCALITY" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 18. Name of locality</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="PAYERSTATEID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>PAYER’s state identification no.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="PAYSTATE" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>State</xsd:documentation>
                </xsd:annotation>
            </xsd:element>


        </xsd:sequence>


    </xsd:complexType>


</xsd:schema>
