src/main/resources/ofx-tax-2018-addl/OFX_Tax5498.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
    Open Financial Exchange Specification (c)2017 by: Intuit Inc., 
    Innovision Corporation, and Thomson Reuters ("Publishers"). 
    All rights reserved.

    Publishers hereby grant to any party a royalty-free, worldwide, and 
    perpetual license to review the Open Financial Exchange Specification 
    in order to provide input, suggestions and other feedback ("Feedback").
    By providing Feedback, you (and your represented organization) grant 
    to Publishers a perpetual, irrevocable, non-exclusive, royalty-free, 
    worldwide license, with the right to directly and indirectly sublicense, 
    to make, use, sell, copy, publish, and distribute the Feedback in any way.

    THIS OPEN FINANCIAL EXCHANGE SPECIFICATION IS MADE AVAILABLE "AS IS" WITHOUT
    WARRANTY OF ANY KIND. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,
    PUBLISHERS FURTHER DISCLAIM ALL WARRANTIES, INCLUDING WITHOUT LIMITATION
    ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
    PURPOSE AND NONINFRINGEMENT, ALL OF WHICH ARE HEREBY DISCLAIMED. THE
    ENTIRE RISK ARISING OUT OF THE USE OF THIS SPECIFICATION REMAINS WITH
    RECIPIENT. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT
    SHALL THE PUBLISHERS OF THIS SPECIFICATION BE LIABLE FOR ANY CONSEQUENTIAL,
    INCIDENTAL, DIRECT, INDIRECT, SPECIAL, PUNITIVE, OR OTHER DAMAGES WHATSOEVER
    (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS,
    BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR OTHER PECUNIARY
    LOSS) ARISING OUT OF ANY USE TO WHICH THIS SPECIFICATION IS PUT, EVEN IF THE
    PUBLISHERS HEREOF HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

    Revision History:

    Version Date        Editor Email Address        Short Description

    1       2017-08-31  brucevwilcox@itips.info     Introduction of new forms 5498, 5498-ESA, and 5498-SA

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ofx="http://ofx.net/types/2003/04" targetNamespace="http://ofx.net/types/2003/04" elementFormDefault="unqualified">

    <xsd:include schemaLocation="OFX_Common.xsd"/>

    <!-- Issuer types -->

    <xsd:complexType name="Abstract5498IssuerAddressType" abstract="true">
        <xsd:sequence>
            <xsd:element name="ADDR1" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR2" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR3" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="CITY" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="STATE" type="ofx:StateType" minOccurs="0"/>
            <xsd:element name="POSTALCODE" type="ofx:ZipType" minOccurs="0"/>
            <xsd:element name="COUNTRYSTRING" type="ofx:CountryStringType" minOccurs="0"/>
            <xsd:element name="PHONE" type="ofx:PhoneType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TrusteeAddressType">
        <xsd:complexContent>
            <xsd:extension base="ofx:Abstract5498IssuerAddressType">
                <xsd:sequence>
                    <xsd:element name="TRUSTEENAME1" type="ofx:GenericNameType"/>
                    <xsd:element name="TRUSTEENAME2" type="ofx:GenericNameType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <!-- Recipients types -->

    <xsd:complexType name="Abstract5498RecipientAddressType" abstract="true">
        <xsd:sequence>
            <xsd:element name="ADDR1" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR2" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="ADDR3" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="CITY" type="ofx:AddressType" minOccurs="0"/>
            <xsd:element name="STATE" type="ofx:StateType" minOccurs="0"/>
            <xsd:element name="POSTALCODE" type="ofx:ZipType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BeneficiaryAddressType">
        <xsd:complexContent>
            <xsd:extension base="ofx:Abstract5498RecipientAddressType">
                <xsd:sequence>
                    <xsd:element name="BENEFICIARYNAME1" type="ofx:GenericNameType"/>
                    <xsd:element name="BENEFICIARYNAME2" type="ofx:GenericNameType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ParticipantAddressType">
        <xsd:complexContent>
            <xsd:extension base="ofx:Abstract5498RecipientAddressType">
                <xsd:sequence>
                    <xsd:element name="PARTICIPANTNAME1" type="ofx:GenericNameType"/>
                    <xsd:element name="PARTICIPANTNAME2" type="ofx:GenericNameType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AbstractTaxForm5498Type" abstract="true">
        <xsd:sequence>
            <xsd:element name="SRVRTID" type="ofx:ServerIdType"/>
            <xsd:element name="TAXYEAR" type="ofx:YearType"/>
            <xsd:element name="VOID" type="ofx:BooleanType" minOccurs="0"/>
            <xsd:element name="CORRECTED" type="ofx:BooleanType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Tax5498_V100">
        <xsd:annotation>
            <xsd:documentation>Form 5498 - IRA Contribution Information</xsd:documentation>
        </xsd:annotation>

        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractTaxForm5498Type">

        <xsd:sequence>

            <xsd:element name="TRUSTEEADDR" type="ofx:TrusteeAddressType" minOccurs="0"/>
            <xsd:element name="PARTICIPANTADDR" type="ofx:ParticipantAddressType" minOccurs="0"/>


            <xsd:element name="TRUSTEEID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>TRUSTEE's or ISSUER’S federal identification number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="PARTICIPANTID" type="ofx:IdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>PARTICIPANT's social security number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ACCTNUM" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Account number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="IRACONTRIB" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 1. IRA contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ROLLOVER" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 2. Rollover contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="CONVERS" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 3. Roth IRA conversion amount</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RECHAR" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 4. Recharacterized contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="FMVACCT" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5. Fair market value of account</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="LIFEINS" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 6. Life insurance cost included in box 1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="SEPCONT" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 8. SEP contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="SIMCONT" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 9. SIMPLE contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ROTHCONT" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 10. Roth IRA contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RMDNEXTYEAR" type="ofx:BooleanType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 11. If checked, required minimum distribution for 2018</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RMDDATE" type="ofx:DateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 12a. RMD date</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RMDAMOUNT" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 12b. RMD amount</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="POSTPONE" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 13a. Postponed contribution</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="POSWTPONEYEAR" type="ofx:YearType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 13b. Year</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="POSTPONECODE" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 13c. Code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="REPAY" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 14a. Repayments</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="REPAYCODE" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 14b. Code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="FMVSPECIFIED" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 15a. FMV of certain specified assets</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="SPECIFIEDCODE" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 15b. Code(s)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:choice>
                <xsd:element name="IRA" type="ofx:BooleanType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Box 7a. IRA</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SEP" type="ofx:BooleanType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Box 7b. SEP</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SIMPLE" type="ofx:BooleanType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Box 7c. SIMPLE</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ROTHIRA" type="ofx:BooleanType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Box 7d. ROTHIRA</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>

        </xsd:sequence>

           </xsd:extension>        
        </xsd:complexContent>

    </xsd:complexType>
    <xsd:complexType name="Tax5498ESA_V100">
        <xsd:annotation>
            <xsd:documentation>Form 5498-ESA - Coverdell ESA Contribution Information</xsd:documentation>
        </xsd:annotation>

        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractTaxForm5498Type">

        <xsd:sequence>

            <xsd:element name="TRUSTEEADDR" type="ofx:TrusteeAddressType" minOccurs="0"/>
            <xsd:element name="BENEFICIARYADDR" type="ofx:BeneficiaryAddressType" minOccurs="0"/>


            <xsd:element name="TRUSTEEID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>TRUSTEE’S/ISSUER’S federal identification no.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="BENEFICIARYID" type="ofx:IdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>BENEFICIARY'S social security number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ACCTNUM" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Account number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ESACONTRIB" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 1. Coverdell ESA contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ROLLOVER" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 2. Rollover contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>


        </xsd:sequence>

           </xsd:extension>        
        </xsd:complexContent>

    </xsd:complexType>
    <xsd:complexType name="Tax5498SA_V100">
        <xsd:annotation>
            <xsd:documentation>Form 5498-SA - HSA, Archer MSA, or Medicare Advantage MSA Information</xsd:documentation>
        </xsd:annotation>

        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractTaxForm5498Type">

        <xsd:sequence>

            <xsd:element name="TRUSTEEADDR" type="ofx:TrusteeAddressType" minOccurs="0"/>
            <xsd:element name="PARTICIPANTADDR" type="ofx:ParticipantAddressType" minOccurs="0"/>


            <xsd:element name="TRUSTEEID" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>TRUSTEE’S federal identification number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="PARTICIPANTID" type="ofx:IdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>PARTICIPANT'S social security number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ACCTNUM" type="ofx:GenericNameType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Account number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="MSACONTRIB" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 1. Employee or self-employed person’s Archer MSA contributions made in 2017 and 2018 for 2017</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="TOTALCONTRIB" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 2. Total contributions made in 2017</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="TOTALMADE" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 3. Total HSA or Archer MSA contributions made in 2018 for 2017</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ROLLOVER" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 4. Rollover contributions</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="FMV" type="ofx:AmountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Box 5. Fair market value OF HAS, Archer MSA, or MA MSA</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:choice>
                <xsd:element name="HSA" type="ofx:BooleanType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Box 6a. HSA</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ARCHER" type="ofx:BooleanType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Box 6b. Archer MSA</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MAMSA" type="ofx:BooleanType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Box 6c. MA MSA</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>

        </xsd:sequence>

           </xsd:extension>        
        </xsd:complexContent>

    </xsd:complexType>


</xsd:schema>
