src/main/resources/ofx-tax-2018-all/OFX2Tax_Protocol.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--

	Open Financial Exchange Specification (c)1996-2003 ("Specification") by all of its publishers: 
	CheckFree Corp., Intuit Inc., and Microsoft Corporation. All rights reserved. 

	Revision History:

	Version	Date    	Editor Email Addr    		Short Description
	p18	2002-02-11  	altenburgd@businesslogic.com	Initial revision
        p21     2002-03-17      altenburgd@businesslogic.com    Renamed types: 
                                                                    s/RequestMessageSet/AbstractRequestMessageSet/
                                                                    s/ResponseMessageSet/AbstractResponseMessageSet/
                                                                    s/TopLevelMessage/AbstractMessageSet/
        p21     2002-03-17      altenburgd@businesslogic.com    Changed elementFormDefault to "unqualified"
                                                                Changed namespace to "http://ofx.net/types/2003/04"
        RC4     2002-06-25      gil_clark@intuit.com            Removed include of OFX_Common.xsd
-->

<xsd:schema xmlns:ofx="http://ofx.net/types/2003/04"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ofx.net/types/2003/04">

	<xsd:include schemaLocation="OFX_Profile_Message_Wrappers.xsd" />
	<xsd:include schemaLocation="OFX_Signon_Message_Wrappers.xsd" />
	<xsd:include schemaLocation="OFX_Tax1095_Message_Wrappers.xsd"/>
	<xsd:include schemaLocation="OFX_Tax1098_Message_Wrappers.xsd" />
	<xsd:include schemaLocation="OFX_Tax1099_Message_Wrappers.xsd" />
    <xsd:include schemaLocation="OFX_Tax1097_Message_Wrappers.xsd"/>
	<xsd:include schemaLocation="OFX_TaxW2_Message_Wrappers.xsd" />
    <xsd:include schemaLocation="OFX_TaxK1_Message_Wrappers.xsd"/>
     <xsd:include schemaLocation="OFX_Tax5498_Message_Wrappers.xsd"/>
    <xsd:include schemaLocation="OFX_TaxW2G_Message_Wrappers.xsd"/>
	<xsd:complexType name="OFX">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "OFX" is of type "Ofx"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="SIGNONMSGSRQV1" type="ofx:SignonRequestMessageSetV1" />
				<xsd:element name="PROFMSGSRQV1" type="ofx:ProfileRequestMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAX1098MSGSRQV1" type="ofx:Tax1098RequestMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAX1099MSGSRQV1" type="ofx:Tax1099RequestMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAXW2MSGSRQV1" type="ofx:TaxW2RequestMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAX1095MSGSRQV1" type="ofx:Tax1095RequestMessageSetV1" minOccurs="0" maxOccurs="1" />
                <xsd:element name="TAXK1MSGSRQV1" type="ofx:TaxK1RequestMessageSetV1" minOccurs="0"/>
                <xsd:element name="TAX1097MSGSRQV1" type="ofx:Tax1097RequestMessageSetV1" minOccurs="0"/>
                <xsd:element name="TAX5498MSGSRQV1" type="ofx:Tax5498RequestMessageSetV1" minOccurs="0"/>
                <xsd:element name="TAXW2GMSGSRQV1" type="ofx:TaxW2GRequestMessageSetV1" minOccurs="0"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="SIGNONMSGSRSV1" type="ofx:SignonResponseMessageSetV1"/>
				<xsd:element name="PROFMSGSRSV1" type="ofx:ProfileResponseMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAX1098MSGSRSV1" type="ofx:Tax1098ResponseMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAX1099MSGSRSV1" type="ofx:Tax1099ResponseMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAXW2MSGSRSV1" type="ofx:TaxW2ResponseMessageSetV1" minOccurs="0" maxOccurs="1" />
				<xsd:element name="TAX1095MSGSRSV1" type="ofx:Tax1095ResponseMessageSetV1" minOccurs="0" maxOccurs="1" />
                <xsd:element name="TAXK1MSGSRSV1" type="ofx:TaxK1ResponseMessageSetV1" minOccurs="0"/>
                <xsd:element name="TAX1097MSGSRSV1" type="ofx:Tax1097ResponseMessageSetV1" minOccurs="0"/>
                <xsd:element name="TAX5498MSGSRSV1" type="ofx:Tax5498ResponseMessageSetV1" minOccurs="0"/>
                <xsd:element name="TAXW2GMSGSRSV1" type="ofx:TaxW2GResponseMessageSetV1" minOccurs="0"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element type="ofx:OFX" name="OFX" />
	<xsd:complexType name="ProfileRequestMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "PROFMSGSRQV1" is of type "ProfileRequestMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractRequestMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="PROFTRNRQ" type="ofx:ProfileTransactionRequest"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProfileResponseMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "PROFMSGSRSV1" is of type "ProfileResponseMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractResponseMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="PROFTRNRS" type="ofx:ProfileTransactionResponse"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SignonRequestMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "SIGNONMSGSRQV1" is of type "SignonRequestMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractRequestMessageSet">
				<xsd:sequence>
					<xsd:element name="SONRQ" type="ofx:SignonRequest"/>
					<xsd:element name="PINCHTRNRQ" type="ofx:PinChangeTransactionRequest" minOccurs="0" maxOccurs="1" />
					<xsd:element name="CHALLENGETRNRQ" type="ofx:ChallengeTransactionRequest" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SignonResponseMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "SIGNONMSGSRSV1" is of type "SignonResponseMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractResponseMessageSet">
				<xsd:sequence>
					<xsd:element name="SONRS" type="ofx:SignonResponse"/>
					<xsd:element name="PINCHTRNRS" type="ofx:PinChangeTransactionResponse" minOccurs="0" maxOccurs="1" />
					<xsd:element name="CHALLENGETRNRS" type="ofx:ChallengeTransactionResponse" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1095RequestMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAX1095MSGSRQV1" is of type "Tax1095RequestMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractRequestMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAX1095TRNRQ" type="ofx:Tax1095TransactionRequest"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1095ResponseMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAX1095MSGSRSV1" is of type "Tax1095ResponseMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractResponseMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAX1095TRNRS" type="ofx:Tax1095TransactionResponse"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1098RequestMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAX1098MSGSRQV1" is of type "Tax1098RequestMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractRequestMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAX1098TRNRQ" type="ofx:Tax1098TransactionRequest"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1098ResponseMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAX1098MSGSRSV1" is of type "Tax1098ResponseMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractResponseMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAX1098TRNRS" type="ofx:Tax1098TransactionResponse"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1099RequestMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAX1099MSGSRQV1" is of type "Tax1099RequestMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractRequestMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAX1099TRNRQ" type="ofx:Tax1099TransactionRequest"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1099ResponseMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAX1099MSGSRSV1" is of type "Tax1099ResponseMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractResponseMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAX1099TRNRS" type="ofx:Tax1099TransactionResponse"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
    <xsd:complexType name="TaxW2RequestMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAXW2MSGSRQV1" is of type "TaxW2RequestMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractRequestMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAXW2TRNRQ" type="ofx:TaxW2TransactionRequest"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    
	<xsd:complexType name="TaxW2ResponseMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
				The OFX element "TAXW2MSGSRSV1" is of type "TaxW2ResponseMessageSetV1"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractResponseMessageSet">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="TAXW2TRNRS" type="ofx:TaxW2TransactionResponse"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
     
	<xsd:complexType name="TaxK1RequestMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXK1MSGSRQV1" is of type "TaxK1RequestMessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractRequestMessageSet">
				<xsd:sequence maxOccurs="unbounded">
					<xsd:element name="TAXK1TRNRQ" type="ofx:TaxK1TransactionRequest"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    
	<xsd:complexType name="TaxK1ResponseMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXK1MSGSRSV1" is of type "TaxK1ResponseMessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractResponseMessageSet">
				<xsd:sequence maxOccurs="unbounded">
					<xsd:element name="TAXK1TRNRS" type="ofx:TaxK1TransactionResponse"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="Tax1097RequestMessageSetV1">
        <xsd:annotation>
            <xsd:documentation>The OFX element "TAX1097MSGSRQV1" is of type "Tax1097RequestMessageSetV1"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractRequestMessageSet">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="TAX1097TRNRQ" type="ofx:Tax1097TransactionRequest"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Tax1097ResponseMessageSetV1">
        <xsd:annotation>
            <xsd:documentation>The OFX element "TAX1097MSGSRSV1" is of type "Tax1097ResponseMessageSetV1"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractResponseMessageSet">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="TAX1097TRNRS" type="ofx:Tax1097TransactionResponse"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Tax5498RequestMessageSetV1">
        <xsd:annotation>
            <xsd:documentation>The OFX element "TAX5498MSGSRQV1" is of type "Tax5498RequestMessageSetV1"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractRequestMessageSet">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="TAX5498TRNRQ" type="ofx:Tax5498TransactionRequest"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Tax5498ResponseMessageSetV1">
        <xsd:annotation>
            <xsd:documentation>The OFX element "TAX5498MSGSRSV1" is of type "Tax5498ResponseMessageSetV1"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractResponseMessageSet">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="TAX5498TRNRS" type="ofx:Tax5498TransactionResponse"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TaxW2GRequestMessageSetV1">
        <xsd:annotation>
            <xsd:documentation>The OFX element "TAXW2GMSGSRQV1" is of type "TaxW2GRequestMessageSetV1"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractRequestMessageSet">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="TAXW2GTRNRQ" type="ofx:TaxW2GTransactionRequest"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TaxW2GResponseMessageSetV1">
        <xsd:annotation>
            <xsd:documentation>The OFX element "TAXW2GMSGSRSV1" is of type "TaxW2GResponseMessageSetV1"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ofx:AbstractResponseMessageSet">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="TAXW2GTRNRS" type="ofx:TaxW2GTransactionResponse"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
	<xsd:complexType name="AbstractRequestMessageSet" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractTopLevelMessageSet"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AbstractResponseMessageSet" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractTopLevelMessageSet"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AbstractTopLevelMessageSet" abstract="true"/>
</xsd:schema>
